/* base cơ bản */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #d9d9d9;
  
}

/* HEADER */

.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: linear-gradient( 45deg, #008ae6, #4d00e6);
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 20px;
  */cursor: pointer;*/
  line-height: 70px;
  width: 50px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 60px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 60px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 60px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
/* DONE HEADER */

/* CONTENT */



/*#body:after {
  content: '';
  clear: both;
  display: block;
}*/

#main {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 200px;
  min-height: calc(80vh - 200px);
}

#main h1 {
  margin: 0 0;
}

#main .linebottom {
  position: absolute;
  width: 82px;
  height: 6px;
  z-index: -1;
  left: 50%;
  transform: translate(-50% , -50%);
  box-shadow: 0 0 3px #008ae6;
  border-radius: 10px;
  background-color: #008ae6;
}

.submit {
  height: 60px;
  line-height: 50px;
  text-align: center;
}

textarea {
  /*font-family:Consolas,'Lucida Console','DejaVu Sans Mono',monospace;*/
  font-size: 12pt;
  max-width: 600px;
  width: 90%;
  height: 160px;
  border: 3px double #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.input {
  margin-top: 38px;
}
::-webkit-input-placeholder { 
  text-align: center;
  line-height: 150px;
  font-size: 16pt;
}
::-moz-placeholder { 
  text-align: center;
  line-height: 200px;
  font-size: 16pt;
}
:-ms-input-placeholder{ 
  text-align: center;
  line-height: 200px;
  font-size: 16pt;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-size: 18px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

/* DONE CONTENT */


/* FOOTER */

.bottom{
	background-color: #171c24;
	padding: 3px 0 10px;
	text-align: center;
}
:root {
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 8;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: calc(var(--marquee-height)*1/3);
  background-color: #171c24;
  color: #eee;
  overflow: hidden;
  position: relative;
  margin-bottom: -1px;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 0%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 0%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*1/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 0px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

/*.contactbottom{
	width: 1px;
	margin-top: 20px;
	margin-left: 5%;
	padding-left: 5px;
	background-color: #008ae6;
}
.contactbottom a{
	font-size: 18px;
	color: #fff;
	padding-left: 8px;
}
.contentct{
	font-size: 12px;
	margin-top: 8px;
	margin-left: 7%;
	padding-bottom: 30px;
	text-align: left;
}
.contentct li,
.contentct a{
	color: #ccc;
	list-style-type: none;
	text-decoration: none;
}

.contactbottom1{
	width: 1px;
	margin-top: 20px;
	margin-left: 5%;
	padding-left: 5px;
	background-color: #008ae6;
}
.contactbottom1 a{
	font-size: 18px;
	color: #fff;
	padding-left: 8px;
}
.contentct1{
	font-size: 12px;
	margin-top: 8px;
	margin-left: 7%;
	text-align: left;
}
.contentct1 li,
.contentct1 a{
	color: #ccc;
	list-style-type: none;
	text-decoration: none;
}
.container-bt{
	display: flex;
	flex-wrap: wrap;
	margin: 50px 20px;
}
.displaybottom{
	flex: 1 30%;
}
.displaybottom1{
	flex: 1 70%;
}
@media(max-width: 800px){
	.displaybottom{
		flex: 100%;
		max-width: 600px;
	}
	.displaybottom1{
		flex: 100%;
		max-width: 600px;
	}
}*/

.mail{
  margin: 100px 0;
  position: relative;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
	margin: 15px 0 0;
}
.copyright p{
	font-size: 15px;
	font-weight: 500;
	color: #ccc;
	text-align: center;
}