@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #000;
  --text-color: #fff;
  --primary-color: #e6e;
  --secondary-color: #000;
  --alpha-color: #000;
  --shadow: 0 0 10px var(--alpha-color);
}
html{
  background: #050514;
  
  display: flex;
  justify-content: center;
}
body{
  width: 100%;
  
  /*heigth: 100vh;*/
  max-width: 375px;
  position: relative;
  background: #0a001a; /*0a0a29*/
  font-family: 'Lexend Deca' , sans-serif;
  color: var(--text-color);
}
::-webkit-scrollbar{
  display: none;
}

.linesuperheight {
  width: auto;
  height: 1px;
  background: #262626;
  margin: 0 5px;
}

.biglogoweb {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.biglogoweb img{
  background-size: cover;
}
.noteheader{
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: center;
  color: #fff;
  opacity: 0.3;
  padding: 0 5px;
  margin: 12px 0;
}
.noteheader .linkvisitheader{
  text-decoration: none;
  color: #fff;
  
}

.home-section {
  width: 100%;
  padding: 10px;
  margin-top: 68px;
  margin-bottom: 30px;
  /*height: 100%;*/
  /*padding-bottom: 100px;*/
  overflow-y: auto;
}
.carausel {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: var(--shadow);
  position: relative;
}
.carausel img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*opacity: 0;*/
  transition: 1s;
}
/*.carausel img.active{
  opacity: 1;
}*/

.threecham {
  text-align: center;
  width: 100%;
}
.threecham span {
  background: linear-gradient(90deg, red 33%, green 33%, green 66%, yellow 66%, yellow 100%);
  color: transparent;
  -webkit-background-clip: text;
  position: relative;
  font-size: 10px;
}
.threecham span span1, span2{
  width: 110px;
  height: 1px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
span1{
  left: 60px;
}/* 2 thằng này bằng nhau thì dấu 3 chấm nắm ở giữa*/
span2{
  right: 60px;
}

/*BXH*/
.bxh {
  width: 100%;
  text-align: center;
  margin-bottom: 86px;
  margin-top: 70px;
}

.ctnttbxh{
  background: url("./assets/images/cover 6.png");
  border-radius: 16px 16px 0 0;
  background-position: center 138px;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /*căn giữa dọc flex*/
  align-items: center;
  /*căn giữa ngang flex*/
  justify-content: center;
  margin: 0px 0px 5px 0px;
  position: relative;
  
  
}
.ctnttbxh .overlay{
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 100%;
  
  position: absolute;
  background: linear-gradient(90deg, #004d99, #660066);
  opacity: .95;
  
}

.colorbrttbxh {
  
  
}

.titlebxh{
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
}
.ctnttbxh .timeBxh,
.ctnttbxh .kbps{
  width: auto;
  font-size: 15px;
  opacity: .5;
  z-index: 1;
}
.ctnttbxh .kbps{
  margin-left: 5px;
  color: #00ff00;
  
}
.playchart{
  align-items: center;
  margin-top: 5px;
  background: #000;
  border-radius: 5px 5px 0 0;
  padding: 3px 6px;
  font-size: 16px;
  z-index: 1;
}
@media (max-width: 800px){

  .titlebxh{
    flex: 100%;
    max-width: 100%;
  }
  .playchart{
    flex: 100%;
    max-width: 100px;
    margin: 10px 0 0 0;
    left: 50%;
    
   
  }
}

.bxh .listbxh {
  margin-top: -5px;
  height: 320px;
  overflow: scroll;
  background: #0F0B24;
  border-radius: 0 0 16px 16px;
}

.listbxh div {
  margin: 0;
  text-align: left;
  color: #fff;
  display: flex;
  position: relative;
  /*căn giữa theo chiều dọc*/
  align-items: center;
  height: 68px;
  
  border-top: 1px solid #262626;
}
.listbxh div .nrank{
  font-size: 18px;
  width: 40px;
  text-align: center;
  
}
.listbxh .a1 .nrank{
  font-weight: 900;
  font-size: 18px;
  color: #e62e00;
  width: 36px;
  text-align: center;
  width: 40px;
}
.listbxh .a2 .nrank{
  font-weight: 900;
  font-size: 18px;
  color: #ffff00;
  width: 36px;
  text-align: center;
  width: 40px;
}
.listbxh .a3 .nrank{
  font-weight: 900;
  font-size: 18px;
  color: #00cc00;
  width: 36px;
  text-align: center;
  width: 40px;
}



.listbxh div img{
  margin: 9px 9px 9px 0px;
  border-radius: 3px;
}
.listbxh div .musicname {
  width: 216px;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listbxh div a {
  font-weight: 400;
  font-size: 15px;
  opacity: 0.8;
}



.heading{
  margin: 46px 10px 18px 10px;
  text-transform: capitalize;
  font-weigth: 300;
  font-size: 26px;
  border-left: 5px solid #008ae6;
  padding-left: 8px;
  background: linear-gradient(90deg, #001a66 20%, #26004d, transparent);
}

.playlist-group{
  position: relative;
  padding: 30px 10px;
  background: linear-gradient(90deg, #0F0B24, #180A19);
  margin-bottom: 88px;
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.playlist-card{
  flex: 0 0 auto;
  max-width: 150px;
  height: 100%;
  margin-right: 26px;
}
.playlist-card-img{
  width: 100%;
  heigth: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.playlist-card-name{
  width: 100%;
  text-align: left;
  font-size: 19px;
  text-transform: capitalize;
  padding: 6px 3px;
}





.music-player-section{
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--alpha-color);
  background-filter: blur(50px);
  transition: 0;
}
.music-seek-bar1 {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  bottom: 60px;
  position: fixed;
  /*left: 8px;*/
  background: #0d0d0d;
  overflow: hidden;
  z-index: 1;
}

.fill{
  width: 90%;
  height: 300px;
  background: #e6e;
}

.music-player-section.active .music-seek-bar{
  bottom: 0;
  position: relative;
  margin-left: 5%;
  width: 90%;
  display: block;
  border-radius: 1px;
  /*margin: auto;*/
  -webkit-appearance: none;
  height: 3px;
  /*left: 8px;*/
  background: #666666;
  /*background: linear-gradient(90deg, #990000 0%, #000 50%, #000 46%, #990000 100%, #990000 100%)*/
/*tăng red -> tăng đen (bên trái),
tăng vàng - giảm đen (bên phải)*/
  overflow: hidden;
  
}

.music-seek-bar1::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 10px;
  width: 5px;
  background: #b32400;
  cursor: pointer;
  box-shadow: -4000px 0 0 4000px #b32400;
}
.music-seek-bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 3px;
  width: 5px;
  background: #ccc;
  cursor: pointer;
  /*border-radius: 18px;
  border: 2px solid #990000;*/
  box-shadow: -2000px 0 0 2000px #ccc;
  
}

.music-player-section.active .biccsa-ctn{
  width: 100%;
  height: 100%;
  padding: 38px 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

.biccsa-ctn{
  width: 100%;
  height: 100%:
  z-index: -1;
}

.music-player-section.active .csa-ctn {
  width: auto;
  height: auto;
  text-align: center;
  
}

.csa-ctn {
  width: 100%;
  height: 100%;
  z-index: -1;
}


.current-song-name{
  font-weight: 300;
  font-size: 16px;
  
  /*căn giữa dọc*/
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0 0 0 5px;
  height: 100%;
  text-transform: capitalize;
}


.lyricctn {
  display: none;
}

.music-player-section.active .lyricctn {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
}
.music-player-section.active .lyricctn.active {
  display: none;
}


.music-player-section.active .bigctrols-ctn{
  width: 100%;
  height: 52%;
  background: #000a1a;
  border-radius: 16px 16px 0 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  position: relative;
}
.bigctrols-ctn {
  width: 66%;  
}


.lyricimg,
.lyriconoff,
.playlistimg{
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.lyriconoff .lyricon.active,
.lyriconoff .lyricoff.active {
  display: none;
}

.music-player-section.active .controls-container{
  width: 100%;
  height: 102px; /*144px*/
  justify-content: center;
  
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  
  
  /*position: absolute;
  bottom: 68px;*/
  z-index: -1;
  
}
.controls-container{
  width: 100%;
  
  justify-content: center;

  
}




.controls {
  
  width: 100%;
  text-align: center;
  
  
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  z-index: -1;
}




.controls span{
  display: none;
  opacity: 0;
  /*transition: 0.3s;*/
  z-index: 1;
}
.controls .icon {
  
  left: 10px;
  padding: 8px 12px;
  position: absolute;
}

img.backbtn1.icon {
  top: 50%;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
  
}

.music-player-section.active img.backbtn1.icon {
  width: 0;
  height: 0;
}
.music-player-section.active .controls{
  position: relative;
  width: auto;
  margin: auto;
  
}




.music-player-section.active .controls span{
  margin: 0 16px;
  font-size: 26px;
  display: block;
  opacity: 0.5;
}
.music-player-section.active .controls span.active{
  color: #990000;
  
}

.music-player-section.active .controls .main{
  font-size: 30px;
  padding: 0 15px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
  
  display: flex;
}



.controls .main{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.main .repeatbtn,
.main .repeaton,
.main .shufflebtn,
.main .shuffleon {
  display: none;
}
.main .backwardbtn,
.main .forwardbtn{
  display: inline;
  width: 18px;
  height: 18px;
}
.main .playbtnicon,
.main .pausebtnicon {
  display: inline;
  width: 18px;
  height: 18px;
}
.main .playbtnicon.active,
.main .pausebtnicon.active {
  display: none;
}
.music-player-section.active .main .backwardbtn,
.music-player-section.active .main .forwardbtn {
  display: inline;
  opacity: 0.9;
}
.music-player-section.active .main .playbtnicon,
.music-player-section.active .main .pausebtnicon {
  display: inline;
  opacity: 0.9;
  width: 40px;
  height: 40px;
}
.music-player-section.active .main .repeatbtn,
.music-player-section.active .main .shufflebtn{
  display: inline;
  opacity: 0.5;
}
.music-player-section.active .main .repeatbtn,
.music-player-section.active .main .repeaton {
  display: inline;
}
.music-player-section.active .main .repeatbtn.active,
.music-player-section.active .main .repeaton.active{
  display: none;
}

.music-player-section.active .main .shufflebtn,
.music-player-section.active .main .shuffleon {
  display: inline;
}
.music-player-section.active .main .shufflebtn.active,
.music-player-section.active .main .shuffleon.active{
  display: none;
}

.music-player-section.active .main .pausebtnicon.active,
.music-player-section.active .main .playbtnicon.active{
  display: none;
}





/*KÉO THANH NHẠC LÊN*/
.music-player-section.active .hide{
  display: block;
  opacity: 1;
}
.music-player-section.active{
  width: 100%;
  height: 100%;
  /*padding: 10px;*/
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: 0s;
}


.music-player-section.active .seek-bar.container{
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0 0 10px;
  
  
}




.music-player-section.active .current-song-name{
  
  
  width: 210px;
  height: auto;
  display: block;
  margin-top: 6px;
  font-size: 18px;
  padding: 0;
  font-weight: 600;
  
}
.music-player-section.active .controls{
  width: 100%;
  height: 60px;
  
  /*font-size: 50px;*/
}



.artist-name{
  max-width: 210px;
  font-size: 15px;
  transform: capitalize;
  color: #ccc;
  margin-top: 3px;
}
.cover {
  width: 210px;
  height: 210px;
  object-fit: cover;
  left: 50%;
  border-radius: 10px;
  
}
.bigcover{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
}
.shadowbigcover{
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg, #051515 70%, #332900);
  opacity: 0.5;
  z-index: -1;
}


.current-time{
  position: absolute;
  margin-top: 5px;
  left: 5%;
}
.duration{
  position: absolute;
  margin-top: 5px;
  right: 5%;
}

.music-player-section.active .back-btn{
  left: 20px;
  position: absolute;
  top: 20px;
  transform: scale(1.3);
}

/*volumn bottom*/
/*.volumn-slider{
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  position: absolute;
  right: -35px;
  bottom: 80px;
  transform: rotate(-90deg);
  border-radius: 50px;
  background: #ccc;
  overflow: hidden;
}
.volumn-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 40px;
  width: 10px;
  background: #e6e;
  box-shadow: -4000px 0 1 4000px #e6e;
}*/



.music-player-section.active .menusc-ctn{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  position: fixed;
  bottom: 0;
  
}


.music-player-section.active .menusection{
  
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #140033;
  
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.menusection{
  display: none;
  
}


/*PLAY LIST*/
/*section playlist là 1 fixed , scroll bên trong là đang chạy giữa (trong) 1 fixed*/
.playlist{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  /*padding: 30px 0;*/
  background: #000;
  z-index: 3;
  transition: 0; /*0.3*/
  oveflow: auto;
}
.ctnheader{
  width: 100%;
  height: 256px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  
}
.ctnheader .imgtilctn{
  position: absolute;
  width: 100%;
  height: 80%;
  display:flex;
  column-gap: 1000px;
  
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ctnheader .pictrong{
  border-radius: 5px;
  box-shadow: 0px 0px 8px #000;
}
.ctnheader .liheightti{
  line-height: 26px;
  text-align: center;
}
.ctnheader .titlealbum{
  
}
.ctnheader .infpl{
  font-size: 12px;
  font-weight: 600;
  color: #ccc;
  
}
.ctnheader .picminibxh{
  width: 100%;
  height: 100%;
  
/*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
  
  filter: blur(1.5rem);
  position: absolute;
  object-fit: cover;
}

.btplaylistctn{
  width: 100%;
  height: 80px;
  padding: 0 18px;
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  
}

.btplaynor,
.btplayrd{
  width: 100%;
  height: 30px;
  background: #e6e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
/*.btplaynor{
  margin-right: 18px;
}
.btplayrd{
  margin-left: 18px;
}*/
.mnplistctn{
  width: 100%;
  height: auto;
  
  background: #1a1a1a;
  border-radius: 15px 15px 0 0;
  padding-bottom: 50px;
}
.mnplistctn .ctnzone{
  width: 100%;
  height: 68px;
  
  border-top: 1px solid #262626;
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.mnplistctn .stt {
  width: 45px;
  font-weight: 200;
  text-align: center;
  
}
.mnplistctn .ctnzone.b0{
  border-top: 0;
}
.mnplistctn .zonelickmn{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.mnplistctn .zonelickmn img {
  
  border-radius: 3px;
}
.mnplistctn .namesongbxh{
  font-size: 16px;
  
  /*LIÊN QUAN ĐẾN REPOSIVE SAU NÀY*/
  width: 210px;
/*CHÚ Ý*/
  overflow:hidden; 
/*chặn xuống dòng*/
  white-space:nowrap; 
/*dạng ẩn, đang dùng "..."*/
  text-overflow:ellipsis;
  margin-left: 10px;
}

.mnplistctn .nameartist{
  font-size: 15px;
  font-weight: 300;
  opacity: 0.8;
}

.playlist.active{
  right: 0;
  
}

.playlist .title {
  
}

.listmini{
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: scroll;
}


/*ICON BACK TRONG MINIPLAYLIST*/

.backlistctn{
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
/*màu trong suốt(ttansparent)*/
  background: transparent;
  z-index: 1;
}
.backlist{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  
}

/*TABLE LYRIC*/
.tablelyric-ctn {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: -100%;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.tablelyric {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  text-align: left;
  background: #595959;
  padding: 12px 12px 98px;
  overflow: scroll;
}
.tablelyric h3{
  font-size:15px;
  text-align: center;
}
.tablelyric h4{
  font-size:12px;
  opacity: 0.8;
  margin-bottom: 58px;
  text-align: center;
}
.tablelyric a{
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  opacity: 0.9;
  
}

.tablelyric-ctn .tblyricback{
  display: none;
}
.tablelyric-ctn.active .tblyricback{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.tablelyric-ctn.active {
  transform: translateY(-100%);
}


.checkjs {
  display: none;
}


.footer-ctn{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  background: linear-gradient(0deg, #e6e6e6 80%, #3333cc 80%, #3333cc 85%, #1f1f7a 85%, #1f1f7a 90%, #0a0a29 90%, #0a0a29 100%);
  margin-top: 100px;
  padding-top: 238px;
  padding-bottom: 188px;
}
.titlecontact{
  margin: 0 95px 15px;
  background: linear-gradient(90deg, #008ae6, #5c00e6);
  color: transparent;
  -webkit-background-clip: text;
}
.mail{
  color: #000;
}
.titleabout {
  margin: 68px 100px 15px;
  background: linear-gradient(90deg, #5c00e6, #008ae6);
  color: transparent;
  -webkit-background-clip: text;
  
}
.contentabout{
  line-height: 30px;
  color: #000;
}

.logofooter-ctn{
  margin-top: 50px;
}

.logofooter{
  background-size: cover;
  width: 268px;
}

.ver {
  
  color: #ccc;
  position: absolute;
  bottom: 125px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  
}

.copyright{
  width: 100%;
  position: absolute;
  padding: 10px 0;
  bottom: 60px;
  text-align: center;
  color: #000;
  background:  #d9d9d9;
}


@media only screen and (min-width: 760px) {
  body{
    max-width: 600px;
    
  }
  .music-player-section{
  width: 100%;
  height: 58px;
  
  }
  .music-seek-bar1{
    left: 0;
    bottom: 58px;
    
  }
}